<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <system.web>
    <compilation debug="true" targetFramework="4.8" />
    <httpRuntime targetFramework="4.8" />
  </system.web>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.1.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:default /nowarn:1659;1699;1701" />
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.1.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:default /nowarn:41008 /define:_MYTYPE=&quot;Web&quot; /optionInfer+" />
    </compilers>
  </system.codedom>
  <system.serviceModel>
	  
	  
    <services>

		
		<service name="WS_DOTNET_SOAP_BanQuito.ec.edu.monster.controller.UsuarioController"
             behaviorConfiguration="ServicioBehavior">
			<endpoint address=""
					  binding="basicHttpBinding"
					  contract="WS_DOTNET_SOAP_BanQuito.ec.edu.monster.controller.IUsuarioController" />
			<endpoint address="mex"
					  binding="mexHttpBinding"
					  contract="IMetadataExchange" />
		</service>


		<service name="WS_DOTNET_SOAP_BanQuito.ec.edu.monster.controller.ClienteController"
         behaviorConfiguration="ServicioBehavior">
			<endpoint address=""
					  binding="basicHttpBinding"
					  contract="WS_DOTNET_SOAP_BanQuito.ec.edu.monster.controller.IClienteController" />
			<endpoint address="mex"
					  binding="mexHttpBinding"
					  contract="IMetadataExchange" />
		</service>


		<service name="WS_DOTNET_SOAP_BanQuito.ec.edu.monster.controller.CuentaController"
         behaviorConfiguration="ServicioBehavior">
			<endpoint address=""
					  binding="basicHttpBinding"
					  contract="WS_DOTNET_SOAP_BanQuito.ec.edu.monster.controller.ICuentaController" />
			<endpoint address="mex"
					  binding="mexHttpBinding"
					  contract="IMetadataExchange" />
		</service>
		

		<service name="WS_DOTNET_SOAP_BanQuito.ec.edu.monster.controller.MovimientoController"
         behaviorConfiguration="ServicioBehavior">
			<endpoint address=""
					  binding="basicHttpBinding"
					  contract="WS_DOTNET_SOAP_BanQuito.ec.edu.monster.controller.IMovimientoController" />
			<endpoint address="mex"
					  binding="mexHttpBinding"
					  contract="IMetadataExchange" />
		</service>

		
		<service name="WS_DOTNET_SOAP_BanQuito.ec.edu.monster.controller.CreditoController"
         behaviorConfiguration="ServicioBehavior">
			<endpoint address=""
					  binding="basicHttpBinding"
					  contract="WS_DOTNET_SOAP_BanQuito.ec.edu.monster.controller.ICreditoController" />
			<endpoint address="mex"
					  binding="mexHttpBinding"
					  contract="IMetadataExchange" />
		</service>
		

		<service name="WS_DOTNET_SOAP_BanQuito.ec.edu.monster.controller.CuotaController"
				 behaviorConfiguration="ServicioBehavior">

			<endpoint address=""
					  binding="basicHttpBinding"
					  contract="WS_DOTNET_SOAP_BanQuito.ec.edu.monster.controller.ICuotaController" />

			<endpoint address="mex"
					  binding="mexHttpBinding"
					  contract="IMetadataExchange" />
		</service>


		<service name="WS_DOTNET_SOAP_BanQuito.BanQuitoService"
         behaviorConfiguration="ServicioBehavior">

			<!-- Un endpoint POR contrato (interface) -->
			<endpoint address="usuarios"
					  binding="basicHttpBinding"
					  contract="WS_DOTNET_SOAP_BanQuito.ec.edu.monster.controller.IUsuarioController" />

			<endpoint address="clientes"
					  binding="basicHttpBinding"
					  contract="WS_DOTNET_SOAP_BanQuito.ec.edu.monster.controller.IClienteController" />

			<endpoint address="cuentas"
					  binding="basicHttpBinding"
					  contract="WS_DOTNET_SOAP_BanQuito.ec.edu.monster.controller.ICuentaController" />

			<endpoint address="movimientos"
					  binding="basicHttpBinding"
					  contract="WS_DOTNET_SOAP_BanQuito.ec.edu.monster.controller.IMovimientoController" />

			<endpoint address="creditos"
					  binding="basicHttpBinding"
					  contract="WS_DOTNET_SOAP_BanQuito.ec.edu.monster.controller.ICreditoController" />

			<endpoint address="cuotas"
					  binding="basicHttpBinding"
					  contract="WS_DOTNET_SOAP_BanQuito.ec.edu.monster.controller.ICuotaController" />

			<!-- Metadata (WSDL) para TODOS los contratos de este servicio -->
			<endpoint address="mex"
					  binding="mexHttpBinding"
					  contract="IMetadataExchange" />
		</service>

		

	</services>
    <behaviors>
      <serviceBehaviors>
		  
		  
        <behavior name="ServicioBehavior">
          <!-- Expone el WSDL en la misma URL del .svc con ?wsdl -->
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true" />
          <!-- Detalles de error en las respuestas SOAP (útil en desarrollo) -->
          <serviceDebug includeExceptionDetailInFaults="true" httpHelpPageEnabled="true" />
        </behavior>
		  

		  
      </serviceBehaviors>
    </behaviors>
	  
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true" />
	  
  </system.serviceModel>
  <entityFramework>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
    <connectionStrings>
	    <add name="BanquitoContext"
			    connectionString="Data Source=localhost;Initial Catalog=banquito;User ID=MONSTER;Password=MONSTER9;MultipleActiveResultSets=True"
			    providerName="System.Data.SqlClient" />
    </connectionStrings>

</configuration>