<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <system.web>
    <compilation debug="true" targetFramework="4.8" />
    <httpRuntime targetFramework="4.8" />
  </system.web>
  <system.webServer>
    <httpProtocol>
      <customHeaders>
        <add name="Access-Control-Allow-Origin" value="*" />
      </customHeaders>
    </httpProtocol>
  </system.webServer>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.1.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:default /nowarn:1659;1699;1701" />
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.1.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:default /nowarn:41008 /define:_MYTYPE=&quot;Web&quot; /optionInfer+" />
    </compilers>
  </system.codedom>
  <system.serviceModel>
    <services>

		
      <service name="WS_DOTNET_SOAP_Comercializadora.ec.edu.monster.controller.UsuarioController" behaviorConfiguration="ServicioBehavior">
        <endpoint address="" binding="basicHttpBinding" contract="WS_DOTNET_SOAP_Comercializadora.ec.edu.monster.controller.IUsuarioController" />
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
      </service>


		
		
      <service name="WS_DOTNET_SOAP_Comercializadora.ec.edu.monster.controller.ElectrodomesticoController" behaviorConfiguration="ServicioBehavior">
        <endpoint address="" binding="basicHttpBinding" contract="WS_DOTNET_SOAP_Comercializadora.ec.edu.monster.controller.IElectrodomesticoController" />
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
      </service>
		
      <service name="WS_DOTNET_SOAP_Comercializadora.ec.edu.monster.controller.FacturaController" behaviorConfiguration="ServicioBehavior">
        <endpoint address="" binding="basicHttpBinding" contract="WS_DOTNET_SOAP_Comercializadora.ec.edu.monster.controller.IFacturaController" />
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
      </service>

		
      <service name="WS_DOTNET_SOAP_Comercializadora.ComercializadoraService" behaviorConfiguration="ServicioBehavior">
        <endpoint address="usuarios" 
				  binding="basicHttpBinding" 
				  contract="WS_DOTNET_SOAP_Comercializadora.ec.edu.monster.controller.IUsuarioController" />
        <endpoint address="clientes" 
				  binding="basicHttpBinding" 
				  contract="WS_DOTNET_SOAP_Comercializadora.ec.edu.monster.controller.IElectrodomesticoController" />
        <endpoint address="cuentas" 
				  binding="basicHttpBinding" 
				  contract="WS_DOTNET_SOAP_Comercializadora.ec.edu.monster.controller.IFacturaController" />
        <endpoint address="mex" 
				  binding="mexHttpBinding" 
				  contract="IMetadataExchange" />
      </service>
		
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior name="ServicioBehavior">
          <!-- Expone el WSDL en la misma URL del .svc con ?wsdl -->
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true" />
          <!-- Detalles de error en las respuestas SOAP (útil en desarrollo) -->
          <serviceDebug includeExceptionDetailInFaults="true" httpHelpPageEnabled="true" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true" />
  </system.serviceModel>
  <entityFramework>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <connectionStrings>
    <add name="ComercializadoraContext" connectionString="Data Source=YORMAN\SQLEXPRESS;Initial Catalog=comercializadora;User ID=MONSTER;Password=MONSTER9;MultipleActiveResultSets=True" providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>